# Google Apps Script Web App API Endpoint URL for Google Sheets Score Sync
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzVE6wodqurlMz3wI9YSaBvNrXY6JZxPgUJ7558A1JzzZJUwhibIe_giluhn7Vrv54l0Q/exec
